body, input, textarea, button, select {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  /* Set the background color of all pages */
  html, body {

    background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3Y1NDZiYXRjaDMtbXludC0zMS1iYWRnZXdhdGVyY29sb3JfMS5qcGc.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
  }

  /* Set the style of the navigation list */
  header nav ul {
    background-color: rgb(104, 101, 101);
    border-bottom: 1px solid #CCC;
    box-sizing: border-box;
    list-style: none;
    margin-top: 0;
    margin-bottom: 2em;
    padding: 0 0 0 1em;

  }

  /* Set the spacing and layout of the nav list items */
  header nav ul li {
    display: inline-block;
    margin: 0 1em;
    padding: 1em 0 1em 0;

  }

  /* Set the style of the links in the nav */
  header nav ul li a {
    font-weight: bold;
    text-decoration: none;

  }

  /* Make the input tags look nicer */
  input {
    height: 1.5em;
    margin: 0;
    padding: .25em .5em;
  }

  /* Make the select boxes look nicer */
  select {
    height: 2.5em;
  }

  /* Make the select-multiple boxes look nicer */
  select[multiple] {
    height: 7.5em;
  }

  /* Make the textarea inputs look nicer */
  textarea {
    margin: 0;
    padding: 0.25em .5em;
  }

  /* Set the width on all tables */
  table {
    width: 40%;
  }

  /* Set the size of the help text in forms */
  .helptext {
    display: block;
    font-size: 80%;
  }

  /* Make the login and sign-up forms look nicer */

  .signup-form {
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: rgb(233, 205, 209);
    margin: auto;
    max-width: 200px;
    padding: 2em;
    background-color: rgb(207, 193, 207);

  }

  .login-form{
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: rgb(233, 205, 209);
    margin: auto;
    max-width: 200px;
    padding: 2em;
    background-color: rgb(207, 193, 207);

  }

  /* Make the task and projects forms look nicer */
  .task-form,
  .project-form,
  .search {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: auto;
    max-width: 150px;
    padding: 1em;
    border-style: double;
  }



  #change_link {
    color: #050505;
    text-decoration: none;
  }

  /* Make all of the headers the same */
  .task-form h1,
  .login-form h1,
  .signup-form h1,
  .project-list h1,
  .project-form h1,
  .project-detail h1 {
    margin-top: 0;
  }

  /* Add spacing to the section of the project detail */
  .project-detail h2 {
    margin-top: 2em;
  }

  /* Standardize form layout using grid */
  .task-form p,
  .login-form p,
  .signup-form p,
  .project-form p {
    display: grid;
    align-items: center;
    column-gap: 10px;
    grid-template-columns: 100px 1fr;
  }

  /* Standardize help text positions in the grid */
  .task-form p .helptext,
  .login-form p .helptext,
  .signup-form p .helptext,
  .project-form p .helptext {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  /* Make the buttons a little larger */
  .task-form button,
  .my-tasks-list button,
  .login-form button,
  .signup-form button,
  .project-form button {
    padding: 0.25em 1em;
  }

  /* Add a nice box around the lists and details */
  .my-tasks-list,
  .project-detail,
  .project-list {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: auto;
    max-width: 200px;
    padding: 1em;
  }


  #list_name{
    color: #050505;
    text-decoration: none;
    margin-left: 3em;

  }

  a:hover {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/squiggle.svg");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 20%;
    border-bottom: 0;
    padding-bottom: .3em;
    text-decoration: none;
  }


  #number_of_tasks{
    color: rgb(7, 7, 7);
    margin: auto;
    padding: 1em;
    margin-right: 20em;

  }
  .number_in_list{
    padding: 0em;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: auto;
    max-width: 200px;
    padding: 1em;

  }

  /* Add padding to the table header and table datum tags */
  .my-tasks-list th,
  .my-tasks-list td,
  .project-list th,
  .project-list td,
  .project-detail th,
  .project-detail td {
    padding: 0.5em;
  }

  /* Add a bottom border to the table header tags */
  .my-tasks-list thead tr th,
  .project-list thead tr th,
  .project-detail thead tr th {
    border-bottom: 2px solid #DEDEDE;
  }

  /* Center align the text on specific table header cells */
  .my-tasks-list tbody td:nth-child(2),
  .my-tasks-list tbody td:nth-child(3),
  .my-tasks-list tbody td:nth-child(4),
  .project-list tbody tr td,
  .project-detail tbody td:nth-child(2),
  .project-detail tbody td:nth-child(3),
  .project-detail tbody td:nth-child(4),
  .project-detail tbody td:nth-child(5) {
    text-align: center;
  }

  /* Add horizontal rules to all rows except the last */
  .my-tasks-list tbody :not(tr:last-child) td,
  .project-list tbody :not(tr:last-child) td,
  .project-detail tbody :not(tr:last-child) td {
    border-bottom: 1px solid #DEDEDE;
  }

  .login_page {
    color:rgb(5, 29, 29);
    position: fixed;
    top: 40%;
    left: 40%;
    font-size: x-large ;

  }
  #login_button{
    position: relative;
    top: 1em;
    left: 1em;
    border-style: outset;
    padding: 5px 5px 5px 5px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    width: 250px;
    border-radius: 12px;

  }

  .titles_css{
    color: rgb(59, 94, 59);
    position: fixed;
    top: 35%;
    left: 40%;
  }

  .signup_page {
    color:rgb(5, 29, 29);
    position: fixed;
    top: 40%;
    left: 40%;
    font-size: x-large ;

  }
  #signup_button{
    position: relative;
    top: 1em;
    left: 1em;
    border-style: outset;
    padding: 5px 5px 5px 5px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    width: 250px;
    border-radius: 12px;

  }

  .list_title{
    position: relative;
    top: 20%;
    left: 44%;
  }

  .log_out{
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: rgb(233, 205, 209);
    margin: auto;
    max-width: 200px;
    padding: 1em;
    background-color: rgb(207, 193, 207);
    margin-left: 62em;
    position: relative;
  }

  .Detail_background{

    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: auto;
    max-width: 600px;
    padding: 1em;
    border-left: 1em;

  }

  .detail_table{

    background-color: rgb(212, 155, 155);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: auto;

    padding: 2em;
    border-left: 1em;


  }
  #detail_loop{

    background-color: rgb(224, 224, 224);
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  text-align: center;


  }

  .Task_background{

    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: auto;
    max-width: 600px;
    padding: 1em;
    border-left: 1em;

  }


  .task_table{

    background-color: rgb(212, 155, 155);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: auto;

    padding: 2em;
    border-left: 1em;


  }
  #task_loop{

    background-color: rgb(224, 224, 224);
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  text-align: center;


  }

  .task_title{
    position: relative;
    top: 20%;
    left: 44%;

  }
