{% extends 'base.html' %}


    {% block title %}
        Login
    {% endblock title %}
        {% block content%}
            <div>
                <h1 class = "titles_css">Login</h1>
                <form method="post" class = "login_page">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button id = "login_button">Login</button>
                </form>
            </div>
        {% endblock content%}
