{% extends 'base.html' %}


    {% block title %}
    SignUp
    {% endblock title %}
        {% block content%}
            <div>
                <h1 class = "titles_css">SignUp</h1>
                <form method="post" class = "signup_page">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button id = "signup_button">SignUp</button>
                </form>
            </div>
        {% endblock content%}
