{% load static %}
<link rel="stylesheet" href="{% static 'css/app.css' %}">

<!doctype html>
<html>
        <head>
            <title>
            {% block title %}{% endblock title %}
            </title>
        </head>
        <body>
            <header>
                <nav>
                    <ul>
                        {% if user.is_authenticated %}
                            <li>
                                <div class="my-tasks-list">
                                    <a href="{% url 'show_my_tasks' %}">My Tasks</a>
                                </div>
                            </li>
                            <li>
                                <div class="project-list">
                                    <a href="{% url 'list_projects' %}">My Projects</a>
                                </div>
                            </li>
                            <li>
                                <div class = "search">
                                    <a href="{% url 'search_company' %}">My Company</a>
                                </div>
                            </li>
                            <li>
                                <div class = "log_out">
                                    <a href="{% url 'logout' %}">Logout</a>
                                </div>
                            </li>

                        {% else %}
                            <li>
                                <div class="signup-form">
                                    <a href="{% url 'signup' %}">Signup</a>
                                </div>
                            </li>
                            <li>
                                <div class="login-form">
                                <a href="{% url 'login' %}">Login</a>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </header>
            <main>
            {% block content %}{% endblock content %}
            </main>
        </body>
</html>
