{% extends 'base.html' %}
    {% block title %}
        My Tasks
    {% endblock title %}
            {% block content %}
            <div>
                <h1 class = "list_title">My Tasks</h1>
                <p>
                    <div class="task-form">
                        <a id = "change_link" href="{% url 'create_task' %}">Create a new task</a>
                    </div>
                </p>
                <table class = "task_table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start Date</th>
                            <th>Due Date</th>
                            <th>Is completed</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in my_tasks %}
                            <tr id = "task_loop">
                                <td><a href="{% url 'task_update' task.id %}">{{ task.name }}</a></td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>{{ value|yesno:"yes,no" }}</td>
                                <td>{{ task.notes }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endblock content %}
