{% extends 'base.html' %}
    {% block title %}
        My Company Projects
    {% endblock title %}
            {% block content %}
            <div class = "Task_background">
                <h1 class = "task_title">My Company Projects</h1>
                {% if my_company.projects.all|length == 0 %}
                <p>You have no projects</p>
                {% else %}
                <table>
                    
                        <thead>
                            <tr>
                                <th>{{ my_company.name }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in my_company.projects.all %}
                                <tr id = "task_loop">
                                    <td>{{ project.name }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
            {% endblock content %}
