{% extends 'base.html' %}

{% block title %}
My Companies
{% endblock title %}
    {% block content %}
    <div>
        <h1 class = "list_title">My Companies</h1>
      <div class="project-form">
            <a id = "change_link" href="{% url 'create_company' %}">Create a new Company</a>
        </div>
        {% if companies|length == 0 %}
            <p>You are not assigned to any companies</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for company in companies %}
                        <tr>
                            <td>
                                <div class="project-list">
                                   
                                    <a id = "list_name" href="{% url 'company_projects' company.id %}">{{ company.name }}</a>
                                </div>
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    {% endblock content %}
