{% extends 'base.html' %}


    {% block title %}
    Project Detail
    {% endblock title %}
            {% block content %}
            <div class = "Detail_background">
                <h1>{{ my_project.name }}</h1>
                <p>{{ my_project.description }}</p>
                <h2>Tasks</h2>
                <p>
                    <div class="task-form">
                        <a href="{% url 'create_task' %}">Create a new task</a>
                    </div>
                </p>
                {% if my_project.tasks.all|length > 0 %}
                    <table class = "detail_table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Assignee</th>
                                <th>Start date</th>
                                <th>Due date</th>
                                <th>Is completed</th>
                                <th>Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in my_project.tasks.all %}
                                <tr id = "detail_loop">
                                    <td><a href="{% url 'task_update' task.id %}">{{ task.name }}</a></td>
                                    <td>{{ task.assignee }}</td>
                                    <td>{{ task.start_date }}</td>
                                    <td>{{ task.due_date }}</td>
                                    <td>{{ task.is_completed|yesno:"yes,no" }}</td>
                                    <td>{{ task.notes}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>This project has no tasks</p>
                {% endif %}
            </div>
            {% endblock content %}
