{% extends 'base.html' %}


    {% block title %}
        My projects
    {% endblock title %}
            {% block content %}
            <div>
                <h1 class = "list_title">My Projects</h1>
                <p>
                    <div class="project-form">
                        <a id = "change_link" href="{% url 'create_project' %}">Create a new project</a>
                    </div>
                </p>
                {% if lists|length == 0 %}
                    <p>You are not assigned to any projects. If you have not created a company, please create one first.</p>
                {% else %}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th id = "number_of_tasks">Number of tasks</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for list in lists %}
                                <tr>
                                    <td>
                                        <div class="project-list">
                                            <a id = "list_name" href="{% url 'show_project' list.id %}">{{ list.name }}</a>
                                        </div>
                                    </td>
                                    <td class = "number_in_list">{{ list.tasks.all|length }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
            {% endblock content %}
